body{
    background-color: rgba(255, 0, 0, 0.785);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#number{
    width: 150px;
    height: 25px;
}